# **Cleaning Data**

# 1-Import libraries

In [108]:
import pandas as pd # data processing

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/cafe-sales-dirty-data-for-cleaning-training/dirty_cafe_sales.csv

# 2 - Upload dataset

In [109]:
#Download and Read the csv file
df = pd.read_csv('/kaggle/input/cafe-sales-dirty-data-for-cleaning-training/dirty_cafe_sales.csv', sep=',')

In [110]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [111]:
# Get the shape of the DataFrame
df.shape

(10000, 8)

In [112]:
# Display information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

# 3 - Clean Data

In [113]:
#Cleaning Empty Cells
#count null cells
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [114]:
# Duplicate rows
df.duplicated().sum()

0

In [115]:
# Convert to datetime, errors='coerce' replaces invalid dates with NaT
df["Transaction Date"] = pd.to_datetime(df["Transaction Date"], errors="coerce")

# Drop rows where "Transaction Date" is NaT 
df = df.dropna(subset=["Transaction Date"])


print(df["Transaction Date"])

0      2023-09-08
1      2023-05-16
2      2023-07-19
3      2023-04-27
4      2023-06-11
          ...
9995   2023-08-30
9996   2023-06-02
9997   2023-03-02
9998   2023-12-02
9999   2023-11-07
Name: Transaction Date, Length: 9540, dtype: datetime64[ns]

In [116]:
df["Transaction Date"].isnull().sum()

0

In [117]:
#Convert to Integers and Decimal numbers
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce").fillna(0).astype(int)
df["Price Per Unit"] = pd.to_numeric(df["Price Per Unit"], errors="coerce").fillna(0).astype(float)
df["Total Spent"] = pd.to_numeric(df["Total Spent"], errors="coerce").fillna(0).astype(float)

In [118]:
df.isnull().sum()

Transaction ID         0
Item                 315
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method      2439
Location            3118
Transaction Date       0
dtype: int64

In [119]:
#Data Type Check
print(df.dtypes)

Transaction ID              object
Item                        object
Quantity                     int64
Price Per Unit             float64
Total Spent                float64
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
dtype: object

In [120]:
# Fill null cells with "Unknown"
df["Payment Method"].fillna("UNKNOWN", inplace=True)
df["Location"].fillna("UNKNOWN", inplace=True)
df["Item"].fillna("UNKNOWN", inplace=True)
df["Payment Method"] = df["Payment Method"].replace(["ERROR"], "UNKNOWN")
df["Location"] = df["Location"].replace(["ERROR"], "UNKNOWN")
df["Item"] = df["Item"].replace(["ERROR"], "UNKNOWN")


df["Payment Method"] = df["Payment Method"].str.lower()
df["Location"] = df["Location"].str.lower()
df["Item"] = df["Item"].str.lower()

<ipython-input-120-348e1f635b86>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Payment Method"].fillna("UNKNOWN", inplace=True)
<ipython-input-120-348e1f635b86>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Location"].fillna("UNKNOWN", inplace=True)
<ipython-input-120-348e1f635b86>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Item"].fillna("UNKNOWN", inplace=True)

In [121]:
df.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [122]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,coffee,2,2.0,4.0,credit card,takeaway,2023-09-08
1,TXN_4977031,cake,4,3.0,12.0,cash,in-store,2023-05-16
2,TXN_4271903,cookie,4,1.0,0.0,credit card,in-store,2023-07-19
3,TXN_7034554,salad,2,5.0,10.0,unknown,unknown,2023-04-27
4,TXN_3160411,coffee,2,2.0,4.0,digital wallet,in-store,2023-06-11

In [123]:
df.tail()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
9995,TXN_7672686,coffee,2,2.0,4.0,unknown,unknown,2023-08-30
9996,TXN_9659401,unknown,3,0.0,3.0,digital wallet,unknown,2023-06-02
9997,TXN_5255387,coffee,4,2.0,8.0,digital wallet,unknown,2023-03-02
9998,TXN_7695629,cookie,3,0.0,3.0,digital wallet,unknown,2023-12-02
9999,TXN_6170729,sandwich,3,4.0,12.0,cash,in-store,2023-11-07

In [124]:
df.shape

(9540, 8)

In [125]:
#save cleaned DataFrame as a CSV file
df.to_csv("cleaned_data.csv", index=False)